@import "../../styles/settings/__settings";
.signup {
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 560px;

  @include respond-below(xs) {
    width: 100%;
    padding: 16px 8px;
  }

  & > input,
  & > button {
    margin: 16px;
  }

  &Row {
    width: 100%;
    display: flex;
    justify-content: space-between;

  @include respond-below(xs) {
      flex-direction: column;
  }
  }
&Msg {

    margin-top: 16px;
    font-size: 14px;
}
}
.bold {
  color: $secondary-dark;
}
