@import '../../styles/settings/__settings';
.navItem {
    box-sizing: border-box;
    color: $text;
    font-size:1rem;
    font-weight: 500;
    padding: 8px 32px;
    cursor: pointer;
    margin: 1px 0px;

    //border-radius: 4px;


    position: relative;
    &:hover {
        background-color: $secondary;
        color: white;
    }
    &Active {
        background-color: $secondary;
        color: white;
    }
}
