@import "./settings/__settings";


.logo {

    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 2.2px;
    color: $text;
}
.body {

    &Signup  {

        display:flex;
        justify-content: center;
        align-items: center;
    }
}
