@import '../../styles/settings/colors';
.select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: white;
  font-weight: bold;
}

.icon {

      font-size: 12px;
      color: $white;
}

.container {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
    min-width: 90px;
    padding: 0 8px;

}
