$white: #ffffff;

$primary: #5cdb95;
$primary-light: #8ee4af;
$primary-dark: #379683;

$secondary-dark: #042B53;
$secondary-light: #064583;
$secondary: #05386b;
$light: #edf5e1;
$bg-light: #EDFFF4;
$bg-light: $primary;
