$white: #ffffff;

$primary: #5cdb95;
$primary-light: #8ee4af;
$primary-dark: #379683;

$secondary-dark: #E55C5E ;
$secondary-light: #FF7678 ;
$secondary: #FF6769;
$light: #edf5e1;
$bg-light: #EDFFF4;
$bg-light: $primary;

$inputbg: #f0e4dc;
$bg2: #f9efe9;
$bg2: #f5e8e1;
$cardbg:#fff5f0;
$border:#AFA6A1;
$text:#3E3C3B;

$later: #27456A;
$later2: #FF6769;
