@import '../../styles/settings/__settings';
.sidebar {

    background-color: $cardbg;
    padding: 16px 4px;
    display: flex;
    flex-direction: column;
    width: $sidebarWidth;
    justify-content: flex-start;
    transition: 0.3s all;
    @include respond-below(sm) {
        width: 0px;
        display: none;
    }

    left: 0;
    position: fixed;
    height: 100%;
}
